@using Connect.Koi;
@helper EnsureBootstrap4() {
  // if the theme framework is not BS4, just include it
  // this solves both the cases where its unknown, or another framework
  if(!Koi.Is("bs4")) {
  <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  }
}

@helper WarnAboutMissingOrUnknownBootstrap() {
  if(Dnn.User.IsInRole(Dnn.Portal.AdministratorRoleName)) {
    var message = Koi.IsUnknown
      ? "This template could not detect if bootstrap4 was already included in the page or not. Because of this, we auto-included it - but this may be unnecessary and slow down this page. Please fix, by supplying a koi.json file in the theme folder."
      : !Koi.Is("bs4")
        ? "Your theme seems to use a css framework different than bootstrap4, but these templates are optimized for it. Bootstrap4 was auto-included for your convenience. For performance reasons, we suggest you either switch to bootstrap4 or optimize these templates to work with the css-framework you prefer. "
        : "";

    if(message != "") {
      <div class="alert alert-warning" role="alert">
        <strong>Warning for page admins only:</strong>
        @message <br>
        You can also remove this message by commenting out the code calling <code>WarnAboutMissingOrUnknownBootstrap()</code>
      </div>
    }
  }
}