@* This is a shared, re-used fragment *@
@{
  var topicHome = PageData["Topic"];
  var topicUrl = PageData["TopicKey"];
}

<a href='@Link.To(parameters: "")'>Tutorial Home</a>

@if(!string.IsNullOrEmpty(topicHome)) {
  <text> › </text>
  <a href="@Link.To(parameters: topicUrl)">@topicHome</a>
}