@using ToSic.Razor.Blade;

@helper PreviewWithLightbox(string url, int width = 100, int height = 100, 
  string classes = "",
  string label = null) {
  @AddFancyBoxOnce()
  <figure>
    <a data-fancybox="gallery" href="@url" class="@classes" data-caption="@label">
      <img src="@url?w=@width&h=@height">
    </a>
  </figure>
}



@helper AddFancyBoxOnce() {
  if(!initialized) {
    initialized = true;
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  }
}

@functions {
  // this value will be used to ensure we only add the scripts once
  private bool initialized = false;
}