@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@helper Body(dynamic data){
  if (Text.Has(data.MicroTitle)) {
      <h5>@data.MicroTitle</h5>
  }
  <h3>@data.Title</h3>
  <div class="content-body mb-4">
      @Html.Raw(data.Body)
  </div>
}