@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  var helpers = CreateInstance("../shared/_helpers.cshtml"); }
</hide>

<trim>
<p>
  Advanced, random 2sxc stuff. 
</p>

<h2>Some notes before we start</h2>
<p>
  This is just some sample stuff which we created and doesn't really fit into any category yet. Hope it help you :). 
</p>
</trim>

<hr>
<h2>Working with ContentBlocks</h2>

<ol>
  @helpers.TutorialLink("2sxc-Advanced - Query the Content Block", "2sa110", "", "new!")

</ol>

<hr>
