<div class="sc-element">
<h1>
    Data Sources and Visual Query Demos
</h1>
<div>
    @Edit.Toolbar()
    
    This is a app to build demo-queries, mainly for training and screenshots. <br/>
</div>

<div>
    Click here 
    @Edit.Toolbar(actions: "app", settings: new { hover = "none", show = "always" })

    to discover and play with data-sources, go into the admin-section and experiment with the queries.
</div>

<div>
    <h2>Contents </h2>
    You'll find examples for almost all data-sources, incl.
    
    <ol>
    @foreach(var query in AsDynamic(Data["Default"])){
        <li>
            @query.EntityTitle 
        </li>
    }
    </ol>
    
</div>

<div>
    <h2>Special Demo with Configurable Query</h2>
    To try the special query where a module-datasource is used to change how a query works, please switch the view/template to <strong>Module DS as Configuration (demo), as it is pre-configured to have a configuration ready. </strong>
</div>
</div>