<div class="sc-element">
    @Edit.Toolbar(Content)

    <h1>
        Demo for module-instance configuration
    </h1>
        
    <div>
        Demo for module-instance providing settings / configuration for a query.
    </div>

</div>