@inherits ToSic.Sxc.Dnn.RazorComponent

<div class="alert alert-success float-left" role="alert">
	<h3>You are seeing the Bootstrap4 Template</h3>
	<blockquote class="text-right">
		"this is awesome!"
	</blockquote>
</div>
