$font-size-base: 1rem !default;

$primary:       #0060AC !default;
$secondary:     #001D38 !default;

$body-bg:       #efefef !default;
$body-color:    #222222 !default;

$grid-gutter-width: 30px !default;