@inherits ToSic.Sxc.Dnn.RazorComponent
@* This adds all link/script tags *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "styles"})

@{
  var videoId = System.Text.RegularExpressions.Regex.Match(Content.VideoLink, "v=([^&]+)");
	var youtubeMatch = new System.Text.RegularExpressions.Regex(@"youtu(?:\.be|be\.com)/(?:.*v(?:/|=)|(?:.*/)?)([a-zA-Z0-9-_]+)").Match(Content.VideoLink);
}
<div class="co-container-outer">
	<div class="co-container-inner co-youtube-video-wrapper mb-4" @Edit.TagToolbar(Content)>
		<div class="embed-responsive embed-responsive-16by9">
			@if (youtubeMatch.Success)
			{
				<iframe class="co-ytplayer"
          src="@("https://www.youtube.com/embed/" + @youtubeMatch.Groups[1].Value + "?controls=1&fs=1&modestbranding=0&rel=0&showinfo=0&autohide=1&iv_load_policy=3&theme=dark&wmode=transparent")"
          allowfullscreen></iframe>
			}
			else
			{
				<div class="dnnFormMessage dnnFormWarning">Video not found. Please check Video-Link.</div>
			}
		</div>
	</div>
</div>