@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
<hide>
@RenderPage("_header.cshtml")
@{  var hlp = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
<trim>
  <h2><em>RazorBlade</em> set Title, Description and other headers <em>v1.1</em></h2>
  <div>
    This page sets the title, description, keywords and some manual tags to the header. 

    Look at the resulting output-source to see the effect. 
  </div>
</trim>

@{
  HtmlPage.Title = "Title changed from the razor using Razor Blade! original: " + HtmlPage.Title;
  HtmlPage.Description = "Learn to use Razor Blade " + HtmlPage.Description;
  HtmlPage.Keywords = "Tutorial, Razor, Blade" + HtmlPage.Keywords;
  HtmlPage.AddToHead("<meta xyz>");
  HtmlPage.AddMeta("somename", "somevalue");
}

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>