@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
<hide>
@RenderPage("_header.cshtml")
@{  var hlp = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
<trim>
  <h2><em>RazorBlade</em> add Open-Graph Headers <em>v1.1</em></h2>
  <div>
    This page sets various open-graph headers. 

    Look at the resulting output-source to see the effect. 
  </div>
</trim>

@{
  // note: 'og:' is auto-prefixed if not given in the key
  HtmlPage.AddOpenGraph("title", "Demo of OpenGraph headers");
  HtmlPage.AddOpenGraph("type", "website");
}

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>