@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
<hide>
@RenderPage("_header.cshtml")
</hide>
<trim>
  <h2><em>RazorBlade</em> Advanced JSON Attributes with @@Tag.Attr <em>v3</em></h2>
  <div>
    Here we'll go through some more advanced examples using <code>@@Tag.Attr(...)</code>
  </div>
</trim>

<trim>
<hr>
<h2>Creating Attributes Containing JSON</h2>
</trim>
@{
  // this is the object we want in the data-attribute
  var myObj = new { 
    Name = "razor", 
    Description="This isn't your normal text - it has \n line breaks and apostrophes"
  };
}
<div class="alert alert-secondary" @Tag.Attr("data-my", myObj)>
  <trim>
  This div has an attribute created using an object, because we wanted json. If you look at the source, youll find <code>@Tag.Attr("data-my", myObj)</code>
  </trim>
</div>


<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>