@inherits Custom.Hybrid.Razor12
@{  
  var configSuccess = Settings.DomainKey != "2sxc-org.disqus.com";
  // required for disqus
  var dataTimestamp = DateTimeOffset.Now.ToUnixTimeSeconds();

  // Disable quality-check which otherwise warns 2sxc-developers that inline scripts shouldn't be used
  // 2sxclint:disable:no-inline-script
}

<div class="app-disqus2-toolbar">
  @Edit.Toolbar(Content)
</div>

<style>
  .app-disqus2-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
</style>

@if (!configSuccess) {
  <div class="app-disqus2-warning">@Html.Raw(Resources.ConfigurationWarning)</div>
  <style>
    .app-disqus2-warning {
      color: #856404;
      background-color: #fff3cd;
      padding: .75rem 1.25rem;
      margin-bottom: 1rem;
      border-radius: .25rem;
    }
  </style>
  return;
}
<div id="disqus_thread"></div>
<script src="https://@(Settings.DomainKey)/embed.js" data-timestamp="@dataTimestamp"></script>