@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // this is the parameter passed in from the calling page
  var width = PageData["width"];
  var height = PageData["height"];

	var quality = 75;
}

<div class="co-container-outer">
	<div class="co-container-inner">
    <div class="co-header" @Edit.TagToolbar(Content)>
      <img class="w-100"
        src='@Tags.SafeUrl(Content.Image + "?w=" + width + "&h=" + height + "&anchor=" + Content.CropAnchor + "&mode=crop&scale=both&quality=" + quality)'
        alt="@Content.Title" />
    </div>
  </div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles"})