@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@helper Body(){
  if (Text.Has(Content.MicroTitle)) {
    <h5>@Content.MicroTitle</h5>
  }
  <h1 class="display-4">@Content.Title</h1>
  <div class="content-body mb-5">
    @Html.Raw(Content.Body)
  </div>
}