@*
    This sub template just places all the very-often used
    style and link tags into the code.
    We put this in a sub-template because we use it so often, and want to make sure
    nobody accidentally uses the wrong url or forgets data-enableoptimizations
*@
@using Connect.Koi
@if(Koi.IsUnknown && Dnn.User.IsInRole(Dnn.Portal.AdministratorRoleName)) {
	<div class='dnnFormMessage dnnFormWarning'>
		This component supports multiple CSS frameworks (Bootstrap3, Bootstrap4). It uses <a href='http://connect-koi.net/' target='_blank'>Koi</a> to detect the CSS framework of the theme/skin. Your theme doesn't broadcast it's CSS-Framework, so the output may look wrong. <br>
		To fix this, <a href='http://connect-koi.net/dnn-themes'>add a koi.json file to your theme/skin folder</a>.<br>
    <em>note: only admins see this message, and it will disappear when you add a correct koi.json</em>
	</div>
}