@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq;

@{
  var persons = AsList(App.Data["Persons"]);
}

@RenderPage("_header.cshtml")


<h3>Simple First() and Last()</h3>
<p>This filters the authors with long first names.</p>
<ol>
  <li>
    First: @persons.First().FirstName
  </li>
  <li>
    Last: @persons.Last().FirstName
  </li>
</ol>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>