@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{
  var post = PageData["Post"];
  var imageResizerParams = "?w=" + PageData["Width"]
    + "&h=" + PageData["Height"]
    + "&mode=crop&scale=both&quality=90"
    + "&anchor=" + post.CropAnchor;
}

@* Image of the post *@
@if (Text.Has(post.Image)) {
  <picture class="bg-primary mb-0">
    <img class="img-fluid" src="@Tags.SafeUrl(post.Image + imageResizerParams)" alt="@post.Tile" />
  </picture>
}

@* Show info to admin when the post will publish *@
@if(Edit.Enabled && post.PublicationMoment.CompareTo(DateTime.Now) > 0) {
  <div class='alert alert-warning @(Text.Has(post.Image) ? "mb-0" : "mb-n3")' role="alert">
    @(App.Resources.LabelAdminPostPublishInfo + " " + post.PublicationMoment.Date.ToString("d") + " " + post.PublicationMoment.TimeOfDay)
  </div>
}