@inherits Custom.Hybrid.Razor12
@using System.Linq;
@{
  /** List Header - Will generate a title and maybe description based on filters/categories selected **/

  // These variables will be filled with different infos depending on the filter that was set
  string Title = null;
  string Description = null;

  // If a Category-Filter was set, show it with description
  if (Data["Category"].Any()) {
    var filteredCategory = AsDynamic(Data["Category"].First());
    Title = Resources.Category + " " + filteredCategory.Name;
    Description = filteredCategory.Description;
  }

  // If a Tag-Filter was set, show that
  else if (Data["Tag"].Any()) {
    var filteredTag = AsDynamic(Data["Tag"].First());
    Title = Resources.Filter + " " + filteredTag.Name;
  }

  // If an Author was used to filter, show him/her + Bio
  else if (Data["Author"].Any()) {
    var filteredAuthor = AsDynamic(Data["Author"].First());
    Title = Resources.PostsBy + " " + filteredAuthor.FullName;
    Description = filteredAuthor.ShortBio;
  }

  // Fallback: Show normal module title
  else {
    Title = Content.Title;
  }
}
<div class="category-header mb-5">
  <h1>@Title</h1>
  @Html.Raw(Description)
</div>