@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
</hide>

<h2>Using if and if-else</h2>
<h3>Basic <code>if</code></h3>
@{
  var aValue = "green";
}
@if(aValue == "green") {
  <span>it's green </span>
}

<hr>
<h3>If-Else</h3>
@{
  var val2 = "blue";
}
@if(val2 == "green") {
  <span>it's green </span>
} else {
  <span>it's blue</span>
}


<hr>
<h3>Using if-else and <code>&lt;text&gt;</code> tags</h3>
<p>This is important, if you have an code block like an if, and you don't want a span-tag or similar in the output</p>
@{
  var val4 = "orange";
}
@if(val4 != "pink") {
  <text>it's not pink</text>
}


<hr>
<h3>Quick if-else using Ternary operator <code>? :</code></h3>
@{
  var val3 = "blue";
}
@(val3 == "red" ? "it's red" : "it's not red")




<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>