<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="11.02.00" ExportDate="2020-06-04T14:07:55.106144+02:00">
  <Header>
    <App Guid="55e57a39-e506-416a-aed0-1c7459d31e86" />
    <Language Default="en-US" />
    <Dimensions>
      <Dimension DimensionID="7" Name="English (United States)" SystemKey="" ExternalKey="en-US" Active="true" />
      <Dimension DimensionID="8" Name="Deutsch (Deutschland)" SystemKey="" ExternalKey="de-DE" Active="true" />
    </Dimensions>
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" Name="Link" Description="Link" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="5de9c126-4272-4649-af6e-a9f8d1206ac3" Json="True" KeyNumber="432">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Title" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Titel" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="f1bc003f-b154-439e-8ffb-83149fac6aa8" Json="True" KeyNumber="432">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Link" Type="Hyperlink" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="ecf47a8a-2e4b-4eac-b4e9-743c7d8981b8" Json="True" KeyNumber="433">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Link" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Hyperlink" AttributeSetName="@Hyperlink" EntityGUID="b1239a6f-ee50-4fe7-9b11-ba3f35b4c638" Json="True" KeyNumber="433">
            <Value Key="Buttons" Value="adam,more" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultDialog" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="FileFilter" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Paths" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ServerResourceMapping" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ShowAdam" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ShowFileManager" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ShowImageManager" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ShowPagePicker" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Description" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c28fa6ee-9153-4a1e-bcd1-805c60ee1b28" Json="True" KeyNumber="434">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Description" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Beschreibung" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Only for internal usage&lt;/p&gt;" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Nur f&amp;uuml;r den internen Gebrauch&lt;/p&gt;" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="94560dfb-1f18-4649-930b-5363c11b10e4" Json="True" KeyNumber="434">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="wysiwyg" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="RowCount" Value="1.0" Type="Number">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-wysiwyg" AttributeSetName="@string-wysiwyg" EntityGUID="0ebd8bc3-37f7-43ff-b5d0-1130a1804af4" Json="True" KeyNumber="434">
            <Value Key="ButtonAdvanced" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ButtonSource" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Dialog" Value="inline" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" Name="QR Configuration" Description="QR Configuration" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="7d5f5c58-8a95-405e-b753-2f20f52ccad7" Json="True" KeyNumber="435">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Title" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Titel" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Only for internal usage&lt;/p&gt;" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Nur f&amp;uuml;r den internen Gebrauch&lt;/p&gt;" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="dcf07a87-2b76-48ef-af94-e0b2e658833b" Json="True" KeyNumber="435">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Size" Type="Number" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4d296935-6559-4b78-bc49-529c36143095" Json="True" KeyNumber="436">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="200" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Size" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Grösse" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Size in px&lt;/p&gt;" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Gr&amp;ouml;sse in px&lt;/p&gt;" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Number" AttributeSetName="@Number" EntityGUID="1a40ac94-af57-4c8a-8f1d-9840fc9c184a" Json="True" KeyNumber="436">
            <Value Key="AddressMask" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Decimals" Value="0.0" Type="Number">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegEx" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="ShowLinkOrTitleBelow" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="aa223411-6d2f-4e93-bf5f-4f4985eb8d79" Json="True" KeyNumber="437">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-dropdown" Type="String" />
            <Value Key="Name" Value="Show Link/Title Below" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Link/Titel unten anzeigen" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="cab8f10f-9822-47b7-a3a3-d0fbd5f575f9" Json="True" KeyNumber="437">
            <Value Key="DropdownValues" Value="Show:block&#xD;&#xA;Don't show:none" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="dropdown" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="RowCount" Value="1.0" Type="Number">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-dropdown" AttributeSetName="@string-dropdown" EntityGUID="17cee157-95d9-4302-9905-a06209555f18" Json="True" KeyNumber="437">
            <Value Key="DropdownValues" Value="Show:block&#xA;Don't show:none" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DropdownValues" Value="Anzeigen:block&#xA;Nicht anzeigen:none" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="EnableTextEntry" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Color" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="bcda8e7e-87f0-4eb3-8e21-79ad145a72d8" Json="True" KeyNumber="438">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="000000" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Color" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Farbe" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Color in Hex (6-Digits) for example 000000 (black), 0088F4 (2sic blue), D50F7E (2sic magenta) or&amp;nbsp;97D600 (2sic green).&lt;/p&gt;" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Farbe in Hex (6-stellig) zum Beispiel 000000 (schwarz), 0088F4 (2sic blau), D50F7E (2sic magenta) oder 97D600 (2sic gr&amp;uuml;n).&lt;/p&gt;" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="ddef8b37-f31a-4261-8aff-e234f584376a" Json="True" KeyNumber="438">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="BackgroundColor" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="ad410bc5-2993-4330-9ac0-dad542faa75b" Json="True" KeyNumber="439">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="FFFFFF" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Background Color" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Hintergrund Farbe" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;The background color - usually FFFFFF (white)&lt;/p&gt;" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Die Hintergrund Farbe - normalerweise FFFFFF (weiss)&lt;/p&gt;" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="09924ec6-474f-4bf4-ba1a-7edfd1fcf458" Json="True" KeyNumber="439">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Border" Type="Number" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="7524efe4-b015-4e59-80c6-a5e0ceed7364" Json="True" KeyNumber="440">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="1" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Border" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Rand" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;The width of the &quot;white space&quot; around the QR-Code. Recommended to leave at 1.&lt;/p&gt;" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Die Breite des &quot;weissen Raumes&quot; um den QR-Code. Empfohlen bei 1 zu belassen.&lt;/p&gt;" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Number" AttributeSetName="@Number" EntityGUID="c5cfceb0-0499-4c74-9221-e8c0375a36be" Json="True" KeyNumber="440">
            <Value Key="AddressMask" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Decimals" Value="0.0" Type="Number">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="default" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Max" Value="10.0" Type="Number">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Min" Value="1.0" Type="Number">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegEx" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="ErrorCorrection" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="bd3dcb96-d722-45fb-b7c3-74f9499edec7" Json="True" KeyNumber="441">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="L" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-dropdown" Type="String" />
            <Value Key="Name" Value="Error Correction" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Fehlerkorrektur" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Error correction Rate. We always recommend to use Low. Higher values will add more pixels duplicating some information, but also making it harder to scan.&lt;/p&gt;" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;Fehlerkorrektur-Rate. Wir empfehlen immer niedrig zu verwenden. H&amp;ouml;here Werte f&amp;uuml;gen mehr Pixel hinzu, die einige Informationen duplizieren, aber auch das Scannen erschweren.&lt;/p&gt;" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="5ea888ab-2c12-4199-b603-95a8f4d29184" Json="True" KeyNumber="441">
            <Value Key="DropdownValues" Value="Low ~7% (recommended):L&#xD;&#xA;Medium ~15%:M&#xD;&#xA;Quartile ~25%:Q&#xD;&#xA;High ~30%:H" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="dropdown" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="RowCount" Value="1.0" Type="Number">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-dropdown" AttributeSetName="@string-dropdown" EntityGUID="b039d513-4a8a-4388-83ae-3650e1d5e43e" Json="True" KeyNumber="441">
            <Value Key="DropdownValues" Value="Low ~7% (recommended):L&#xA;Medium ~15%:M&#xA;Quartile ~25%:Q&#xA;High ~30%:H" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DropdownValues" Value="Niedrig ~7% (empfohlen):L&#xA;Mittel ~15%:M&#xA;Quartil ~25%:Q&#xA;Hoch ~30%:H" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="EnableTextEntry" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="cf2a32e6-4637-4ba0-8ffe-55b031e32b89" Name="Title" Description="Title" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="2a4edf69-24cc-4f69-87b1-1051a6ca3c48" Json="True" KeyNumber="442">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Title" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Titel" Type="String">
              <Dimension DimensionID="8" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="c32b444c-0c22-469f-8b9a-2a0c3e1f23ce" Json="True" KeyNumber="442">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="7" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="ed705f94-32f1-49ef-8d69-96f602b50cb5" Json="True" KeyNumber="11">
      <Value Key="AllowRazorTemplates" Value="False" Type="Boolean">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="AllowTokenTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="DisplayName" Value="QR Code" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Folder" Value="QR Code" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Hidden" Value="False" Type="Boolean">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="OriginalId" Value="55e57a39-e506-416a-aed0-1c7459d31e86" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="RequiredVersion" Value="08.03.00" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="SupportsAjaxReload" Value="True" Type="Boolean">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Version" Value="01.02.00" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="a6206d7a-ede1-4420-a347-e9c4211b84e6" KeyNumber="11" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="ca0850a8-3db7-4850-9509-b3205670b1a9" KeyNumber="11" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="23772909-d007-4015-ab66-d25dbda1015f" Json="True">
      <Value Key="ContentDemoEntity" Value="d2fa3bc0-ced2-45ff-99b6-bf38b7e40e62" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="QR Code basic optionally showing title" Type="String" />
      <Value Key="Name" Value="QR Code basic, optionale Titelanzeige" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="QR Code Basic showing title.html" Type="String" />
      <Value Key="PresentationDemoEntity" Value="20b7dd4a-204f-44bd-bf27-7ed2960b85ac" Type="Entity" />
      <Value Key="PresentationTypeStaticName" Value="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="Token" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="d831e132-d352-4d35-a33b-19ca66aa157c" Json="True">
      <Value Key="ContentDemoEntity" Value="d2fa3bc0-ced2-45ff-99b6-bf38b7e40e62" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="QR Code basic optionally showing URL" Type="String" />
      <Value Key="Name" Value="QR Code basic, optionale Anzeige der URL" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="QR Code Basic showing URL.html" Type="String" />
      <Value Key="PresentationDemoEntity" Value="20b7dd4a-204f-44bd-bf27-7ed2960b85ac" Type="Entity" />
      <Value Key="PresentationTypeStaticName" Value="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="Token" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="fcfb890a-c8db-4110-8a6c-05ab86197fd9" Json="True">
      <Value Key="ContentDemoEntity" Value="6da19fa6-8627-42f2-8223-7c228a68dfe2" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="cf2a32e6-4637-4ba0-8ffe-55b031e32b89" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="QR Code for current page" Type="String" />
      <Value Key="Name" Value="QR Code für aktuelle Seite" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="QR Code for current page.html" Type="String" />
      <Value Key="PresentationDemoEntity" Value="20b7dd4a-204f-44bd-bf27-7ed2960b85ac" Type="Entity" />
      <Value Key="PresentationTypeStaticName" Value="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="Token" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="d2717071-2c1f-4acb-81c1-5f2f9461ad2e" Json="True">
      <Value Key="ContentDemoEntity" Value="6da19fa6-8627-42f2-8223-7c228a68dfe2" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="cf2a32e6-4637-4ba0-8ffe-55b031e32b89" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="QR Code for current page (hidden but printable)" Type="String" />
      <Value Key="Name" Value="QR Code für aktuelle Seite (versteckt aber druckbar)" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="QR Code for current page (hidden but printable).html" Type="String" />
      <Value Key="PresentationDemoEntity" Value="20b7dd4a-204f-44bd-bf27-7ed2960b85ac" Type="Entity" />
      <Value Key="PresentationTypeStaticName" Value="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="Token" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="c60eea4d-a7f2-49a4-b7eb-926a63b908b1" Json="True">
      <Value Key="ContentDemoEntity" Value="6da19fa6-8627-42f2-8223-7c228a68dfe2" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="cf2a32e6-4637-4ba0-8ffe-55b031e32b89" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="QR Code for current page (shortened with TabId)" Type="String" />
      <Value Key="Name" Value="QR Code für aktuelle Seite (gekürzt mit TabId)" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="QR Code for current page (short).html" Type="String" />
      <Value Key="PresentationDemoEntity" Value="20b7dd4a-204f-44bd-bf27-7ed2960b85ac" Type="Entity" />
      <Value Key="PresentationTypeStaticName" Value="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="Token" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="ContentType" AttributeSetStaticName="ContentType" AttributeSetName="ContentType" EntityGUID="21ae0af8-2c97-45e3-9e65-9a166c7d84e9" Json="True" KeyString="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1">
      <Value Key="Description" Value="QR Configuration" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="QR Konfiguration" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="EditInstructions" Value="" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Icon" Value="" Type="Hyperlink">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Label" Value="QR Configuration" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Label" Value="QR Konfiguration" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Link" Value="" Type="Hyperlink">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="ListInstructions" Value="" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Notes" Value="" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="ContentType" AttributeSetStaticName="ContentType" AttributeSetName="ContentType" EntityGUID="8ac73095-fb7d-4266-9ce2-2343c5a05910" Json="True" KeyString="cf2a32e6-4637-4ba0-8ffe-55b031e32b89">
      <Value Key="Description" Value="Title" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="Titel" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="EditInstructions" Value="" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Icon" Value="" Type="Hyperlink">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Label" Value="Title" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Label" Value="Titel" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Link" Value="" Type="Hyperlink">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="ListInstructions" Value="" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Notes" Value="" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" AttributeSetName="Link" EntityGUID="d2fa3bc0-ced2-45ff-99b6-bf38b7e40e62">
      <Value Key="Description" Value="&lt;p&gt;This is a demo item.&lt;/p&gt;" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="&lt;p&gt;Dies ist ein Demo Element.&lt;/p&gt;" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
      <Value Key="Link" Value="https://azing.org/2sxc/r/TCmnZ17h" Type="Hyperlink">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Installing checklist" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Installations Checkliste" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" AttributeSetName="QR Configuration" EntityGUID="20b7dd4a-204f-44bd-bf27-7ed2960b85ac">
      <Value Key="BackgroundColor" Value="FFFFFF" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Border" Value="1" Type="Number">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Color" Value="000000" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="ErrorCorrection" Value="L" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="ShowLinkOrTitleBelow" Value="block" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Size" Value="200" Type="Number">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Demo Configuration" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Demo Konfiguration" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="cf2a32e6-4637-4ba0-8ffe-55b031e32b89" AttributeSetName="Title" EntityGUID="6da19fa6-8627-42f2-8223-7c228a68dfe2">
      <Value Key="Title" Value="Current page" Type="String">
        <Dimension DimensionID="7" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="Aktuelle Seite" Type="String">
        <Dimension DimensionID="8" ReadOnly="false" />
      </Value>
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="241" RelativePath="adam/QR Code/" />
  </PortalFolders>
</SexyContent>