@{
  // pick up parameters which were passed in
  var label = PageData["Label"];
  var color = PageData["Color"] as string ?? "black"; // default to "black" if not provided
}
<div style="border: solid 2px @color">
  @label
</div>