<div>
<h2>Snippet to insert into web.config</h2>
<p>This snippet is what you need to insert into the web.config in the right place. When looking at this in a browser, the important spots already contain the domain etc. which should be monitored. So assuming you configured the app-settings correctly, then just copy/paste :) </p>

<p>Place this in &lt;configuration&gt; &lt;rewrite&gt; &lt;rules&gt;</p>
    <textarea rows="15" cols="120">
            <rule name="Rewrite all @App.Settings.ShortDomain/xyz to web service" stopProcessing="true">
                <!-- 
                    important: this rule says that it will any urla with numbers/chars between 0 and 25 chars 
                    you may want a different rule, then adapt it as you need it
                --> 
                <match url="^([A-Za-z0-9]{0,25})$" />
                <conditions>
                    <add input="{HTTP_HOST}" pattern="^(www\.)?@(App.Settings.ShortDomain.Replace(".", "\\."))$" ignoreCase="true" />
                </conditions>
                <!-- note that the root path can have subportal name in it - if the app is installed in a sub-portal -->
                <!-- note also that in DNN9, the root path (after the sub-portal) is not desktopmodules/2sxc/api but instead /api/2sxc -->
                <action type="Redirect" url="@DotNetNuke.Framework.ServicesFramework.GetServiceFrameworkRoot()desktopmodules/2sxc/api/app/shortlinks/api/redirect/go?key={R:1}" />
            </rule>
    </textarea>
</div>