body {
 margin: 0;
 padding: 0;
 background-color: white; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }

carte {
 margin: 0.5mm; 
 background-color: white; 
 border-style: solid;
 border-width: 5mm;
 border-color: a901efff;
 border-radius: 3mm;
 width: 63mm;
 height: 88mm;
}

ariane {
 color: a390aaff;
 font-weight: bold;
 }

famille {
 font-size: 150%; 
 padding-left: 15px;
 }

sous_famille {
 font-size: 100%; 
 padding-right: 15px;
 }

sous_sous_famille {
 font-size: 80%; 
 padding-right: 15px;
 }

image {
 float: left;
 margin: 1.1mm;
 width: 40mm;
height: 40mm;
 }

texte {
 float: left;
 }

desc_fr {
 float: left;
 }

exemple_fr {
 float: left;
 }

niveau {
 float: left;
 }