/* Couleurs */

card.insuffisance {
  background-color: #a901efff;
}

card.insuffisance .texte{
  color: #120915ff;
}

card.insuffisance .header{
  color: #380050ff;
}

card.insuffisance .title{
  color: #380050ff;
}

card.influence {
  background-color: #face00ff;
}

card.influence .texte{
  color: #1e1800ff;
}

card.influence .header{
  color: #504200ff;
}

card.influence .title{
  color: #504200ff;
}

card.erreurMathématique {
  background-color: #00c8a6ff;
}

card.erreurMathématique .texte{
  color: #021c18ff;
}

card.erreurMathématique .header{
  color: #054b3eff;
}

card.erreurMathématique .title{
  color: #054b3eff;
}

card.paralogisme {
  background-color: #6ab400ff;
}

card.paralogisme .texte{
  color: #121e00ff;
}

card.paralogisme .header{
  color: #2f5000ff;
}

card.paralogisme .title{
  color: #2f5000ff;
}

card.détournementDeLaLangue {
  background-color: #0039f0ff;
}

card.détournementDeLaLangue .texte{
  color: #00071eff;
}

card.détournementDeLaLangue .header{
  color: #001350ff;
}

card.détournementDeLaLangue .title{
  color: #001350ff;
}

card.tricherie {
  background-color: #e42065ff;
}

card.tricherie .texte{
  color: #240510ff;
}

card.tricherie .header{
  color: #47091fff;
}

card.tricherie .title{
  color: #47091fff;
}

card.obstruction {
  background-color: #ff2408ff;
}

card.obstruction .texte{
  color: #1b0603ff;
}

card.obstruction .header{
  color: #490f07ff;
}

card.obstruction .title{
  color: #490f07ff;
}

/* -------------------------------------------------------------------------------- */


safe {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* -------------------------------------------------------------------------------- */
/* Entête */
/* -------------------------------------------------------------------------------- */

.header {
  display: flex;
  font-size: 10pt;
  height: 30px;
}

.famille, .ariane { width: 50%; }

.famille {
  font-family: Cabin, bold;
  text-transform: uppercase;
}

.ariane{
  font-family: Cabin, bold;
  text-align: right;
}

.sous_famille {
  font-size: 8pt;
}

.Soussousfamille {
  font-size: 7pt;
}

/* -------------------------------------------------------------------------------- */
/* Corps */
/* -------------------------------------------------------------------------------- */

.body {
  display: flex;
  flex-direction: column;
  height: 370px;
  justify-content: space-between;
}

.title {
  font-family: Borsok;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  min-height: 30px;
  order: 1;
}

.image {
  order: 2;
  min-height: 0;
  flex-shrink: 1;
  padding: 10px;
  text-align: center;
}
.image img {
  max-height: 100%;
  max-width: 100%;
}

.texte {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 3;
}

.desc_fr {
  font-size: 10pt;
  padding-bottom: 3pt;
  text-align: justify;
}

.exemple_fr {
  font-size: 10pt;
  padding-bottom: 3pt;
  text-align: justify;
}

.niveau {
  padding-right: 2pt;
  text-align: right;
  font-family: Big John;
  font-size: 6pt;
}
