/* -------------------------------------------------------------------------------- */
/* Polices */
/* -------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

card { font-family: 'Poppins'; }

/* -------------------------------------------------------------------------------- */
/* Couleurs */
/* -------------------------------------------------------------------------------- */

card.insuffisance {
  --color-background: #811da3;
  --color-text-1: #601362;
  --color-text-2: #8f5991;
  --color-text-3: #a173a2;
}

card.influence {
  --color-background: #ff912e;
  --color-text-1: #dc6800;
  --color-text-2: #e6954c;
  --color-text-3: #eaa668;
}

card.erreurMathématique {
  --color-background: #08af93;
  --color-text-1: #14555b;
  --color-text-2: #5a888c;
  --color-text-3: #749a9e;
}

card.paralogisme {
  --color-background: #8dc801;
  --color-text-1: #476205;
  --color-text-2: #7e9150;
  --color-text-3: #92a26b;
}

card.détournementDeLaLangue {
  --color-background: #0054a4;
  --color-text-1: #0c2861;
  --color-text-2: #546890;
  --color-text-3: #6f80a1;
}

card.tricherie {
  --color-background: #f50085;
  --color-text-1: #b20059;
  --color-text-2: #c94c8a;
  --color-text-3: #d1689d;
}

card.obstruction {
  --color-background: #dc0f0a;
  --color-text-1: #960a07;
  --color-text-2: #b55351;
  --color-text-3: #c16e6c;
}

card {
  background-color: var(--color-background);
  color: var(--color-text-1);
}

card .sous_famille { color: var(--color-text-2); }

card .Soussousfamille { color: var(--color-text-3); }

/* -------------------------------------------------------------------------------- */
/* Structure */
/* -------------------------------------------------------------------------------- */

safe {
  background-color: #fff;
  padding: 10px;
}

/* -------------------------------------------------------------------------------- */
/* Entête */
/* -------------------------------------------------------------------------------- */

.header {
  display: flex;
  height: 40px;
}

.famille {
  font-size: 9pt;
  font-weight: bold;
  line-height: 13pt;
  text-transform: uppercase;
  width: 45%;
}

.ariane{
  font-weight: bold;
  text-align: right;
  width: 55%;
}

.sous_famille, .Soussousfamille { line-height: 8pt; }

.sous_famille {
  font-size: 7pt;
  padding: 4px 0 2px;
}

.Soussousfamille { font-size: 6pt; }

/* -------------------------------------------------------------------------------- */
/* Corps */
/* -------------------------------------------------------------------------------- */

.body {
  display: flex;
  flex-direction: column;
  height: 365px;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  line-height: 15pt;
  min-height: 30px;
  order: 1;
  text-align: center;
  text-transform: uppercase;
}

.image {
  order: 2;
  min-height: 0;
  flex-shrink: 1;
  padding: 20px;
  text-align: center;
}
.image img {
  max-height: 100%;
  max-width: 100%;
}

.texte {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 3;
}

.desc_fr {
  font-size: 10pt;
  font-weight: bold;
  line-height: 12pt;
  padding-bottom: 6pt;
}

.exemple_fr {
  font-size: 8pt;
  line-height: 10pt;
}

/* -------------------------------------------------------------------------------- */
/* Pied de page */
/* -------------------------------------------------------------------------------- */

.footer { height: 20px; }

.niveau {
  font-size: 8pt;
  font-weight: bold;
  text-align: right;
}
