@inherits ToSic.Sxc.Dnn.RazorComponent

<div @Edit.TagToolbar(Content)>
    <h1>
        Hello World - Bucket List for Creators
    </h1>
    <p>
      This is part of a <a href="r.2sxc.org/tut-creators-101" target="_blank">tutorial series</a>.
    </p>
</div>