@inherits ToSic.Sxc.Dnn.RazorComponent
@* tell 2sxc that we'll use the js API *@
@Edit.Enable(js:true)
<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<h2>More secure Basic WebApi Example</h2>
<p>
  In this example, we'll ensure that calls to your API only come from users who are visiting your website. This is to protect agains <a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery" target="_blank">CSRF</a> attacks, where another website gets your users to interact with your API. That could be dangerous, because maybe your API has things only a logged in user should see - and without the CSRF protection, the other website could get access to that because the user is logged in. 
</p>

<p>
  Click to see the result of a WebApi call with the shared code:  
</p>
</trim>
<button type="button" class="btn btn-primary" onclick="callBasicHelloApi(this)">
  Call WebApi
</button> 

<script>
  function callBasicHelloApi(moduleContext) {
    $2sxc(moduleContext)
      .webApi.get('app/auto/api/verified/hello')
      .then(function (results) {
        alert(results);      
      });
  }
</script>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/api/",
  File = "VerifiedController.cs",
  Size = 500,
  Language = "csharp",
  TitlePath = "/api/",
}) 
</hide>