@inherits ToSic.Sxc.Dnn.RazorComponent
@* tell 2sxc that we'll use the js API *@
@Edit.Enable(js:true)
<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<h2>App.Data WebApi Examples</h2>
<p>
  In this example, we'll get app-data from the WebApi.
</p>

<p>
  Click to see the result of a WebApi call with the shared code:  
</p>
</trim>
<button type="button" class="btn btn-primary" onclick="getPersons(this)">
  Get Persons Custom
</button> 

<button type="button" class="btn btn-primary" onclick="getBooks(this)">
  Get Books Custom
</button> 

<button type="button" class="btn btn-primary" onclick="getPersonsAuto(this)">
  Get Persons with Auto-Convert
</button> 

<script>
  function getPersons(moduleContext) {
    $2sxc(moduleContext)
      .webApi.get('app/auto/api/books/persons')
      .then(function (results) {
        alert('Found ' + results.length + ' persons. \n'
          + 'The first one is "' + results[0].FirstName + ' ' + results[0].LastName + '"\n\n'
          + 'The raw JSON: \n' + JSON.stringify(results)
        );
      });
  }

  function getBooks(moduleContext) {
    $2sxc(moduleContext)
      .webApi.get('app/auto/api/books/books')
      .then(function (results) {
        alert('Found ' + results.length + ' books. \n'
          + 'The first one is "' + results[0].Title + '"\n\n'
          + 'The raw JSON: \n' + JSON.stringify(results)
          );
      });
  }

  function getPersonsAuto(moduleContext) {
    $2sxc(moduleContext)
      .webApi.get('app/auto/api/books/personsAuto')
      .then(function (results) {
        alert('On WebApi with Auto-Convert: Found ' + results.length + ' persons. \n'
          + 'The first one is "' + results[0].FirstName + ' ' + results[0].LastName + '"\n\n'
          + 'The raw JSON: \n' + JSON.stringify(results)
        );
      });
  }
</script>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/api/",
  File = "BooksController.cs",
  Size = 800,
  Language = "csharp",
  TitlePath = "/api/",
}) 
</hide>