@inherits ToSic.Sxc.Dnn.RazorComponent
@* tell 2sxc that we'll use the js API *@
@Edit.Enable(js:true)
<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<h2>App.Query WebApi Examples</h2>
<p>
  In this example, we'll get app-data from the WebApi which runs a query with a parameter. 
</p>

<p>
  Click to see the result of a WebApi call with the shared code:  
</p>
@{
  var authorId = AsDynamic(App.Data["Persons"].First()).EntityId;
}
</trim>
<button type="button" class="btn btn-primary" onclick="getAuthor(this, @authorId)">
  Get Author #@authorId
</button> 

<script>
  function getAuthor(moduleContext, authorId) {
    $2sxc(moduleContext)
      .webApi.get('app/auto/api/authorsquery/get?authorId=' + authorId)
      .then(function (author) {
        alert('Found author: '
          + author.FirstName + ' ' + author.LastName 
          + ' (with ' + author.Books.length + ' books) \n\n'
          + 'The raw JSON: \n' + JSON.stringify(author)
        );
      });
  }

</script>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/api/",
  File = "AuthorsQueryController.cs",
  Size = 600,
  Language = "csharp",
  TitlePath = "/api/",
}) 
</hide>