@inherits ToSic.Sxc.Dnn.RazorComponent
@{  var ready = App.Settings.DomainKey != "2sxc-org.disqus.com"; }
<div id="disqus_thread" style="min-height: 100px;" @Edit.TagToolbar(Content)>
  @if(ready) {
    <div id="disqus_thread_loader">
      Loading Comments...
    </div>
  } else {
    <div>
      You have just added the app - please configure it now. Here are some <a href="https://azing.org/2sxc/l/Mek_MCqz/app-disqus" target="_blank">recipes</a> to get you started. 
    </div>
  }
</div>
@if(ready) {
<script>
var disqus_observer = new IntersectionObserver(function(entries) {
  // start loading Disqus now
  if(entries[0].isIntersecting) {
    var disqus_config = function () {
    // this.page.url = PAGE_URL;
    // this.page.identifier = PAGE_IDENTIFIER;
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://@(App.Settings.DomainKey)/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();

    // once executed, stop observing
    disqus_observer.disconnect();
  }
}, { threshold: [0] });
disqus_observer.observe(document.querySelector("#disqus_thread"));
</script>
}