$tertiary: #fff !default;

@mixin sizeAndBorderRadius ($size, $border-radius) {
    height: $size;
    width: $size;
    border-radius: $border-radius;
}

@media all {
    .pc-bg-tertiary {
        background-color: $tertiary;
    }

    .pc-text-tertiary {
        color: $tertiary;
    }

    .card {

        & .pc-channel-title {
            font-size: 1.5rem;
        }

        & .pc-owner-name {
            font-weight: 500;
        }

        & .pc-channel-category-rss {

            & > p {
                flex: 4;
            }

            & > a {
                max-width: 30px;
                color: $tertiary
            }
        }
    }

    .list-group {

        & .pc-episode-date {
            font-size: 0.7rem;
        }

        /* jPlayer classes */
        & .jp-audio {
            width: 46px;

            & .jp-interface {

                @include sizeAndBorderRadius(100%, 25px);

                // override element style
                @include media-breakpoint-down(sm) {
                    width: 100% !important;
                }

                & .jp-controls-holder {

                    & .jp-play:focus {
                        outline: none;
                    }

                    & .jp-progress {
                        display: none;
                        flex-basis: 100%;
                        flex-grow: 10;
                        height: 4px;

                        & .jp-seek-bar {
                            height: 4px;
                            cursor: pointer;
                        }

                        & .pc-drag-handler {
                            top: -4px;
                            margin-left: -6px;
                            transition: transform 0.15s ease-in-out;
                            cursor: pointer;

                            @include sizeAndBorderRadius(12px, 6px);

                            @include media-breakpoint-down(sm) {
                                top: -6px;
                                margin-left: -8px;

                                @include sizeAndBorderRadius(16px, 8px);

                                &.dragging {
                                    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.2);
                                }
                            }
                        }

                    }

                    & .jp-current-time,
                    .jp-duration {
                        display: none;
                        font-size: 0.64em;
                    }
                }
            }
        }
    }
}