@inherits ToSic.Sxc.Dnn.RazorComponent
<div class="alert alert-success pull-left" role="alert">
    <h3>You are seeing the Bootstrap3 Template</h3>
	<blockquote class="blockquote-reverse">
		"this is awesome!"
	</blockquote>
</div>

