<hide>
@inherits ToSic.Sxc.Dnn.RazorComponent
@RenderPage("_header.cshtml")
@{
  CreateInstance("Shared.cs").EnableEditForAnonymous(Edit);
}

<h2>2sxc Custom WYSIWYG with Additional Button</h2>
<div class="alert alert-info">
  <p>
    This example show how we customize more of TinyMCE. 
  </p>
  <p>You can learn how to:</p>
  <ul>
    <li>Use <code>addTranslations()</code></li>
    <li>Use <code>configureOptions(...)</code> to extend the toolbar</li>
    <li>Use configureAddOns to change button options for the image</li>
    <li>Run code when the editor is running <code>init</code> to add button defininiots</li>
  </ul>
  </div>
<hr>
</hide>

<h2>String WYSIWYG With Additional Button and Labels</h2>
<p>
  This example keeps the default buttons and adds another one, with multi-language labels <br>
  Hit this edit button to have a look: @Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=UiStringWysiwygButtonMl" })
</p>

<hide>
@RenderPage("_warning-and-links.cshtml")

@RenderPage("../shared/_source-code.cshtml", new {
  Path = VirtualPath,
  File = "../system/field-string-wysiwyg-button-ml/index.js",
  Size = 1500,
  Language = "javascript",
  Title = "Source of [App]/system/field-string-wysiwyg-button-ml/index.js"
})
</hide>