<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="11.02.01" ExportDate="2020-06-16T22:19:27.9254969+02:00">
  <Header>
    <App Guid="943d465e-ab09-4764-8417-cf7615d33481" />
    <Language Default="en-US" />
    <Dimensions>
      <Dimension DimensionID="169" Name="English (United States)" SystemKey="" ExternalKey="en-US" Active="true" />
      <Dimension DimensionID="170" Name="Deutsch (Deutschland)" SystemKey="" ExternalKey="de-DE" Active="true" />
    </Dimensions>
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="d2304885-2f5b-47c2-80db-3c65973dd086" Name="Idea" Description="" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Name" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="91550e3f-33cd-4816-8885-2550ed4b5c6c" Json="True" KeyNumber="4266">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Name" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Description" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="722e8ac6-4bce-4448-860e-b8ad78eb443c" Json="True" KeyNumber="4267">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Description" Type="String" />
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="Placeholder" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="1249e8fb-dc67-4a89-8999-58f99cdefa77" Json="True" KeyNumber="4267">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-wysiwyg" AttributeSetName="@string-wysiwyg" EntityGUID="c9010a3f-3771-4f14-ab9e-8da40d6fb309" Json="True" KeyNumber="4267">
            <Value Key="ButtonAdvanced" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="ButtonSource" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="Dialog" Value="inline" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Journal" Type="Entity" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="16f24b3f-96da-40be-bc7c-9ce662d3cbac" Json="True" KeyNumber="4276">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="entity-default" Type="String" />
            <Value Key="Name" Value="Journal" Type="String" />
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="Placeholder" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Entity" AttributeSetName="@Entity" EntityGUID="7927be7c-fc3b-4bf3-a8b1-960f1d9f1d31" Json="True" KeyNumber="4276">
            <Value Key="AllowMultiValue" Value="False" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="EnableAddExisting" Value="True" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="EnableCreate" Value="True" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="EnableDelete" Value="True" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="EnableEdit" Value="True" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="EnableRemove" Value="True" Type="Boolean">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
            <Value Key="EntityType" Value="Journal" Type="String">
              <Dimension DimensionID="169" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="Image" Type="Hyperlink" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="91fd4f7d-9d32-4083-b922-95ef1b894058" Json="True" KeyNumber="4268">
            <Value Key="InputType" Value="hyperlink-default" Type="String" />
            <Value Key="Name" Value="Image" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="3372c788-110c-4efa-b122-f2acf5f7617c" Name="Journal" Description="" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Short" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c14bfc79-9fc4-4a80-90a3-a3666026260f" Json="True" KeyNumber="4277">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Date" Type="DateTime" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="52990673-5cbf-468c-afac-bb883b2af966" Json="True" KeyNumber="4274">
            <Value Key="InputType" Value="datetime-default" Type="String" />
            <Value Key="Name" Value="Date" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Notes" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="ee26bab5-bde7-4679-a267-c71ca718966c" Json="True" KeyNumber="4275">
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Notes" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="e0687297-dd7d-46c5-8fec-b23c94a89378" Json="True" KeyNumber="190">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="AllowTokenTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="DisplayName" Value="Creators 101 - BucketList v11" Type="String" />
      <Value Key="Folder" Value="Creators101BucketList11" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="RequiredVersion" Value="08.03.00" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="SupportsAjaxReload" Value="True" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Version" Value="11.00.06" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="ba806e8a-8017-456f-80be-ac8bfa38ee6b" KeyNumber="190" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="f935e3e1-66fe-4404-9e0b-503076e6dccd" KeyNumber="190" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="7d45984b-62a8-4924-bc14-2ebc9d7c2749" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="01 Introduction" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_Introduction.cshtml" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="d2304885-2f5b-47c2-80db-3c65973dd086" AttributeSetName="Idea" EntityGUID="063b3139-6937-4398-b787-6788ba741415">
      <Value Key="Description" Value="&lt;p&gt;I really want to learn this...&lt;/p&gt;&#xA;&lt;p&gt;Someone said it's kind of neat&lt;/p&gt;&#xA;&lt;ol&gt;&#xA;&lt;li&gt;Watch some tutorials&lt;/li&gt;&#xA;&lt;li&gt;Try it out&lt;/li&gt;&#xA;&lt;li&gt;Create our own tutorials&lt;/li&gt;&#xA;&lt;/ol&gt;" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Image" Value="file:4537" Type="Hyperlink">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Journal" Value="9afa8f09-d6a5-428c-ae8a-75a0e16b1330,286aca20-f66e-4f61-9e12-1b18c5f0d93d" Type="Entity" />
      <Value Key="Name" Value="Learn 2sxc 11 soon!" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="2sxc 11 lernen - und zwar sofort!" Type="String">
        <Dimension DimensionID="170" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="d2304885-2f5b-47c2-80db-3c65973dd086" AttributeSetName="Idea" EntityGUID="44dc1143-4d68-471b-a17d-623ece41ffe4">
      <Value Key="Description" Value="&lt;p&gt;Lorem Ipsum&lt;/p&gt;" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Lorem Ipsum" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="ea9a55c4-307c-444c-953b-74431c911180" Json="True">
      <Value Key="ContentDemoEntity" Value="44dc1143-4d68-471b-a17d-623ece41ffe4" Type="Entity">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ContentTypeStaticName" Value="d2304885-2f5b-47c2-80db-3c65973dd086" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Idea - One" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_Idea-One.cshtml" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="d2304885-2f5b-47c2-80db-3c65973dd086" AttributeSetName="Idea" EntityGUID="f547ad33-af37-42d1-b293-ded0b06a251c">
      <Value Key="Description" Value="&lt;p&gt;Visit&lt;/p&gt;&#xA;&lt;ol&gt;&#xA;&lt;li&gt;Z&amp;uuml;rich&lt;/li&gt;&#xA;&lt;li&gt;Liechtenstein (tiny country beside Switzerland)&lt;/li&gt;&#xA;&lt;li&gt;Daniel and 2sic internet solutions (at the border to Liechtenstein)&lt;/li&gt;&#xA;&lt;/ol&gt;" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Travel to Switzerland" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="422b290e-bcd5-4478-935d-134e14ec59b3" Json="True">
      <Value Key="ContentDemoEntity" Value="44dc1143-4d68-471b-a17d-623ece41ffe4" Type="Entity">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ContentTypeStaticName" Value="d2304885-2f5b-47c2-80db-3c65973dd086" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Ideas - List" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_Ideas-List.cshtml" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="True" Type="Boolean">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="d2304885-2f5b-47c2-80db-3c65973dd086" AttributeSetName="Idea" EntityGUID="a924b6c8-b692-4735-951c-60a95c037fe6">
      <Value Key="Description" Value="&lt;p&gt;Rotten fish - can must bulge.&lt;/p&gt;" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Image" Value="file:4540" Type="Hyperlink">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Try Surströmming" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="3372c788-110c-4efa-b122-f2acf5f7617c" AttributeSetName="Journal" EntityGUID="9afa8f09-d6a5-428c-ae8a-75a0e16b1330">
      <Value Key="Date" Value="2020-06-16T00:00:00" Type="DateTime">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Notes" Value="test" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Short" Value="Did this 2b" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="d2304885-2f5b-47c2-80db-3c65973dd086" AttributeSetName="Idea" EntityGUID="28fd5613-c2e6-4147-b24f-2661fd1b611e">
      <Value Key="Description" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Image" Value="" Type="Hyperlink">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Journal" Value="9afa8f09-d6a5-428c-ae8a-75a0e16b1330" Type="Entity" />
      <Value Key="Name" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="3372c788-110c-4efa-b122-f2acf5f7617c" AttributeSetName="Journal" EntityGUID="326e00cb-dc76-4613-b8d6-374f601ce8e2">
      <Value Key="Date" Value="" Type="DateTime">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Notes" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Short" Value="aoeu" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="3372c788-110c-4efa-b122-f2acf5f7617c" AttributeSetName="Journal" EntityGUID="286aca20-f66e-4f61-9e12-1b18c5f0d93d">
      <Value Key="Date" Value="" Type="DateTime">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Notes" Value="" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
      <Value Key="Short" Value="3" Type="String">
        <Dimension DimensionID="169" ReadOnly="false" />
      </Value>
    </Entity>
  </Entities>
  <PortalFiles>
    <File Id="4537" RelativePath="adam\Creators101BucketList11\OTE7BjdpmEO3h2eIunQUFQ\Image\app-icon.png" />
    <File Id="4540" RelativePath="adam\Creators101BucketList11\yLYkqZK2NUeVHGCpXAN_5g\Image\Serving_Surströmming-small.jpg" />
    <File Id="4539" RelativePath="adam\Creators101BucketList11\OTE7BjdpmEO3h2eIunQUFQ\Image\2sic Logo magenta.jpg" />
    <File Id="4538" RelativePath="adam\Creators101BucketList11\OTE7BjdpmEO3h2eIunQUFQ\Image\image.png" />
  </PortalFiles>
  <PortalFolders>
    <Folder Id="10073" RelativePath="adam/Creators101BucketList11/OTE7BjdpmEO3h2eIunQUFQ/Image/" />
    <Folder Id="10075" RelativePath="adam/Creators101BucketList11/yLYkqZK2NUeVHGCpXAN_5g/Image/" />
    <Folder Id="10071" RelativePath="adam/Creators101Bucketlist11/" />
    <Folder Id="10072" RelativePath="adam/Creators101BucketList11/OTE7BjdpmEO3h2eIunQUFQ/" />
    <Folder Id="10074" RelativePath="adam/Creators101BucketList11/yLYkqZK2NUeVHGCpXAN_5g/" />
  </PortalFolders>
</SexyContent>