@inherits ToSic.Sxc.Dnn.RazorComponent

<div class="app-add-search app-add-search-results">
  <div class="input-group mb-2">
    <input id="queryResults" type="text" class="addsearch form-control" placeholder="@App.Resources.PlaceholderText...">
    <div class="input-group-append">
      <button onclick="addsearch.submit()" class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
    </div>
  </div>

  @* Search results will be rendered to this div *@
  <div id="addsearch-results"></div>
</div>

@RenderPage("shared/_Assets.cshtml", new { ResultPage = true })