@inherits ToSic.Sxc.Dnn.RazorComponent

<div class="app-add-search app-add-search-mobile input-group mb-3" data-resultpage="@App.Settings.SearchPage">
  <input id="queryMobile" type="text" class="form-control" placeholder="@App.Resources.PlaceholderText...">
  <div class="input-group-append">
    <button id="submitSearchMobile" class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
  </div>
</div>

@RenderPage("shared/_Assets.cshtml")