@inherits Custom.Hybrid.Razor12
<div class="app-swiper2-empty-slides container" @Edit.TagToolbar(Content.Slides)>
    <div class="arrow">
    <div class="line"></div>
    <div class="point"></div>
    </div>
    <div class="row h-100 align-items-center">
    <div class="col-12 text-center">
        <h2>Empty Slider</h2>
        <p>Please use the toolbar in the top right corner to add new slides.</p>
    </div>
    </div>
</div>