@import url('../../node_modules/beerslider/dist/BeerSlider.css');

.app-imagecompare2-main {
  margin-bottom: 25px;
  .app-imagecompare2-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    >.content-text {
        flex: 1;
    }
  }
  .app-imagecompare2-after-text {
    order: 1;
  }

  .app-imagecompare2-img50 {
    width: 50%;
  }

  @media (max-width: 885px) {
    .app-imagecompare2-content > div {
      width: 100%;
    }

    .app-imagecompare2-img50 {
      width: 100%;
    }

    .app-imagecompare2-after-text {
      order: 0;
    }
  }
}