@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@if (Text.Has(Header.Title))
{
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 mb-5 text-center">
            @if (Text.Has(Header.MicroTitle)) {
                <h5>@Header.MicroTitle</h5>
            }
            <h2 class="display-4">@Header.Title</h2>
            @if (Text.Has(Header.Body)) {
                <div class="content-body mb-5">
                    @Html.Raw(Header.Body)
                </div>
            }
        </div>
    </div>
}