/* note: this file name must start with an underscore "_" so it wont be generated in the output */

/* note: this file name must start with an underscore "_" so it wont be generated in the output */
$primary:           #65345c;
$secondary:         #6c757d;
$grid-gutter-width:   30px;
$brand-primary:     #4A148C;
$text-color:        #333;
$gray-light:        #eee;
$screen-sm-min:       768px;
$screen-md-min:       992px;